Flask==1.1.2
Flask-Script==2.0.6
redis==3.4.1
jieba==0.39
bson==0.5.10
pandas==0.25.1
opencv-python==4.0.0.21
pillow==7.2.0
gevent-websocket==0.10.1
requests
efficientnet_pytorch
scikit-image==0.17.2
uWSGI==2.0.18
